[include]
       path = ~/.gitconfig.local
[core]
	editor = /usr/bin/vim
[merge]
        tool = vimdiff
[color]
	ui = true
[alias]
        st = status
	df = diff
	dfc = diff --cached
        lso = ls-files --others --exclude-standard
	last = log -n1 HEAD --stat
	recommit = commit --amend -C HEAD --reset-author
        update = add -u
        up = add -u
        amend = commit --amend
        patch = "!f() { git-patch ${@}; }; f"
        prepare = "!f() { git-prepare ${@}; }; f"
        rc = "!f() { git rebase --continue && git show --stat; }; f"
        rewrite = "!f() { git-rewrite \"$@\"; }; f"
        ydiff = "!f() { git diff $@ | ydiff -c always; }; f"
        ylog = "!f() { ydiff -l -c always -- \"$@\"; }; f"
        tags = "!f() { git-tags \"$@\"; }; f"
        exec = "!exec "
[push]
	default = simple
[merge "merge-changelog"]
	name = GNU-style ChangeLog merge driver
	driver = git-merge-changelog %O %A %B
